.registerContainer {
  margin-top: 100px;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .registerForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    input[type='text'] {
      color: white;
      box-shadow: 1px 1px 10px black;
      color: white;
      border-radius: 20px;
      background: #222326;
      border: none;
      height: 50px;
    }
    input[type='email'] {
      color: white;
      box-shadow: 1px 1px 10px black;
      color: white;
      border-radius: 20px;
      background: #222326;
      border: none;
      height: 50px;
    }
    input[type='password'] {
      color: white;
      box-shadow: 1px 1px 10px black;
      color: white;
      border-radius: 20px;
      background: #222326;
      border: none;
      height: 50px;
    }
    button {
      margin: 50px 0 0 0;
      color: white;
      box-shadow: 1px 1px 10px black;
      color: white;
      border-radius: 20px;
      background: #222326;
      border: none;
      height: 50px;
    }
  }
}
